<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        img.mi {
            margin-left: 20px;
            color: teal;
            width: 30px;
            height: 30px;
        }

        h1, h2 {
            color: navy;
        }

        a {
            color: black;
        }

     

        body {
            display: flex;
            flex-direction: column;
            background-color: beige;
        }

        footer {
            text-align: center;
            padding-bottom: 30px;
        }

        main {
            flex: 1;
            height: 100%;
        }
    </style>
</head>
<body dir="rtl">
    <main>
        <h1>האתר של שירה </h1>
        <table>

            <tr>
                <td>
                    <a href="דף בית.aspx">דף הבית
                        <img class="mi" src="images/House-Chimney-1--Streamline-Ultimate.png" />
                    </a>
                    
                </td>
                <td>
                    <a href="אודות.aspx">אודות
                        <img class="mi" src="images/Information-Circle--Streamline-Ultimate.png" />
                    </a>
                    
                </td>
                <td>
                    <a href="חיפוש.aspx">חיפוש
                        <img class="mi" src="images/Search--Streamline-Ultimate.png" />
                    </a>
                    
                </td>
                <td>
                    <a id="regLink" runat="server" href="הרשמה.aspx">הרשמה
                        <img class="mi" src="images/Pen-Write-Paper--Streamline-Ultimate.png" />
                    </a>
                    
                </td>
                <td>
                    <a href="כניסה.aspx">כניסה
                        <img class="mi" src="images/Login-Key--Streamline-Ultimate.png" />
                    </a>
                    
                </td>
                <td>
                    <a id="exitLink" runat="server" href="יציאה.aspx">יציאה
                        <img class="mi" src="images/Logout--Streamline-Ultimate.png" />
                    </a>
                    
                </td>
                <td>
                    <a href="גלריה.aspx">גלריה
                        <img class="mi" src="images/Taking-Pictures-Cameras--Streamline-Ultimate.png" />
                    </a>
                    
                </td>
                <td>
                    <a id="adminLink" runat="server" href="מנהל.aspx">מנהל
                        <img class="mi" src="images/Youtube-Studio-Logo--Streamline-Ultimate.png" />
                    </a>
                    
                </td>
                <td>
                    <a href="עדכון פרטים.aspx">עדכון פרטים
                        <img class="mi" src="images/Single-Neutral-Actions-Sync--Streamline-Ultimate.png" />
                    </a>
                    
                </td>






            </tr>


           
        </table>


        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </main>
    <footer>
        איזה כיף שבאתם לבקר
    </footer>
</body>

</html>
